<!-- <app-homepage> -->
<app-header></app-header>

<div class="container">
  <div class="card">
    <div class="name">
      <span> Name: </span><input type="text" class="input-field" readonly [value]="firstName">
    </div>
    <div class="email">
      <span>Email:</span> <input type="text" class="input-field" readonly [value]="email">
    </div>
    <div class="mobile">
      <span>Mobile:</span> <input type="text" class="input-field" readonly [value]="mobile">
    </div>
    <div class="address">
      <span>Address:</span> <input type="text" class="input-field" readonly [value]="address">
    </div>
    <div class="row s12">
      <div class="col s6">
        <a routerLink="/home">Back</a></div>
    </div>
    <!-- <h4>Name: <span>{{firstName}}</span></h4>
  <h4>Email: <span>{{email}}</span></h4>
  <h4>Mobile: <span>{{mobile}}</span></h4>
  <h4>
    <Address>{{address}}</Address>
  </h4> -->
  </div>
</div>
<!-- </app-homepage> -->