.btn.edit {
    background-color: darkorange;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
  }
  .btn.trash {
    background-color: royalblue;
    border: none;
    color: white;
 
    font-size: 12px;
    cursor: pointer;
  }
  /* Darker background on mouse-over */
  .btn.edit:hover {
    background-color: green;
  }
  .btn.trash:hover {
    background-color: red;
  }
  .pagesize{
    display: flex;
  }
  .pagesize select{
    display: block;
    width: 3.5rem;
    height: 2rem;
    border: 1px solid gray;
  }